.powerbuttonp {
   margin-top:0px !important;
   margin-bottom:20px !important;
}

button {
    background-repeat:no-repeat;
    background-color: transparent;
    border: none;
}

.basediv {
   padding-top:15px;
   padding-bottom:15px;
}

.basetable {
   width: 100%; 
}

.fileArea {
   padding-left:30px;
   padding-right: 30px;
}

textarea {
   width: 100%; 
   height: 200px;
   padding-left:30px;
   padding-right:30px;
}

.powerbutton { 
    height: 100px; 
    width: 100px;  
    border-radius: 50px;
    background-size:100px;
  }

.on {
    background-image:url('img/pearlon.png');
  }

.off { 
    background-image:url('img/pearloff.png');
  }

.powerbuttontd {
    text-align: center;
  }

.temp {
    font-size: 22px;
  }

.templabel {
     padding-left:30px;
  }
.OK {
    color: green;
  }

#fileDisplayArea {
  margin-top: 2em;
  width: 100%;
  overflow-x: auto;
  }

@font-face {font-family:
    'RaphaelIcons';
    src:
    url('img/raphael/raphaelicons-webfont.eot');
    src:
    local('☺'), url('img/raphael/raphaelicons-webfont.woff') format('woff'), url('img/raphael/raphaelicons-webfont.ttf') format('truetype'), url('img/raphael/raphaelicons-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    font-family: 'RaphaelIcons';
    font-size: 2.2em;
    position: relative;
    top: 0.0em;
}
.icon-power:before { content: "G"; }
.icon-temperature:before { content: "$"; }
.icon-log:before { content: ">"; }
